#nav-bar {
  text-align: center;
  text-transform: uppercase;
}
nav a {
  color: black;
  text-decoration-line: none;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
}
nav i,
div.pi {
  color: rgb(24, 137, 243);
}
div.container1 {
  background: rgb(247, 247, 247);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
div#target {
  padding: 10px 0 0 50px;
}
div#personal-info {
  padding: 10px 0 40px 50px;
  background-color: rgb(128, 128, 128, 0.05);
}
form {
  padding: 40px 40px 40px 40px;
}
input[type="text"] {
  padding: 7px 15px;
  border: 2px solid rgb(128, 128, 128, 0.2);
  border-radius: 5px;
  transition: 0.5s;
  outline: none;
}
input[type="text"]:focus {
  border: 2px solid rgb(89, 203, 241);
  border-bottom: 3px solid rgb(153, 153, 153);
}
form p {
  color: rgba(128, 128, 128, 0.9);
}
form #submit {
  padding: 7px 13px;
  color: white;
  background-color: rgb(0, 140, 186);
  border-radius: 5px;
  border: none;
}
form #submit:active {
  background-color: rgb(2, 87, 115);
  --clr: black;
  --outline: 2px solid var(--clr);
  outline: var(--outline);
  border: 1px solid white;
  outline-offset: -4px;
  transition: outline-offset 200ms ease;
}
.hide {
  display: none;
}
#personal-info span {
  font-weight: bold;
}
.section-title {
  padding-top: 30px;
  padding-bottom: 30px;
}
div.pi {
  padding-top: 20px;
}
.experience {
  grid-area: ex;
}
.education {
  grid-area: ed;
}
.activities {
  grid-area: ac;
}
.hobbies {
  grid-area: hb;
}
.language {
  grid-area: lg;
}
.skills {
  grid-area: sk;
}
.container2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "ex ac"
    "ex ac"
    "ex ed"
    "sk ed"
    "hb lg";
  column-gap: 30px;
}
div.experience,
div.education,
div.activities,
div.hobbies,
div.language,
div.skills {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 70px auto;
  padding: 20px;
  border: 2px solid rgb(128, 128, 128, 0.2);
}
button {
  padding: 5px 25px;
  border-radius: 20px;
  background-color: lightyellow;
  border: none;
}
div.details {
  grid-column: -3/-1;
  line-height: 1.5;
  padding-top: 10px;
}
ul {
  list-style: none;
  padding: 0;
  list-style-position: inside;
}
li::marker {
  content: "- ";
}
li:first-child {
  padding-top: 10px;
}
li:last-child {
  padding-bottom: 20px;
}
div.hobby1 > div {
  background-color: #fff;
  border: 2px solid green;
  height: auto;
  border-radius: 50%;
  width: auto;
}
.grade {
  display: inline-block;
  height: 2px;
  margin-right: 10px;
  width: 45px;
}
.bl {
  background: #199cdb;
}
.gr {
  background: rgb(128, 128, 128, 0.3);
}
.bg-grey {
  background: rgb(128, 128, 128, 0.1);
}
.certificate {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  column-gap: 20px;
  padding: 20px;
}
div.ce1,
div.ce2 {
  display: flex;
  gap: 30px;
  align-items: flex-start;
}
.description {
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 10px;
}
div.ce2 {
  border-left: 1.5px solid #d6c08d;
  padding-left: 20px;
}
.project {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
}
div.i-project {
  object-fit: cover;
  object-position: top;
}
div.project1,
div.project2,
div.project3 {
  grid-template-rows: 1fr 3fr;
}
div.project-details {
  display: grid;
  grid-template-rows: 1fr 1fr 3fr;
  border: 1px solid rgb(128, 128, 128, 0.2);
}
div.bar {
  padding: 15px;
  border-bottom: 1px solid rgb(128, 128, 128, 0.2);
}
div.bar2 {
  display: grid;
  align-items: start;
  column-gap: 30px;
  justify-content: center;
  grid-template-areas:
    "tl og"
    "tl jt";
}
.timeline {
  grid-area: tl;
}
.oganization {
  grid-area: og;
}
.job-title {
  grid-area: jt;
}
div.bar2 div:first-child {
  border: 1px solid #199cdb;
  border-radius: 25px;
  height: auto;
  padding: 3px 13px;
  background-color: #199cdb;
  color: aliceblue;
}
table {
  border-collapse: collapse;
}
tr {
  vertical-align: top;
  border-bottom: 1px solid rgb(128, 128, 128, 0.2);
}
table td:first-child {
  width: 100px;
}
section#footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
div.hpl {
  display: inline-block;
  padding: 30px;
}
div.container5 i {
  color: #199cdb;
}
div.container5 a {
  color: black;
  text-decoration: none;
}
.hpl div {
  display: flex;
  align-items: center;
}
div.container-pc {
  padding: 30px;
  background-color: blue;
  row-gap: 30px;
  grid-template-areas:
    "cont1"
    "cont4"
    "cont2"
    "cont5"
    "cont3";
}
div.container-pc-1 {
  grid-area: cont1;
}
div.container-pc-2 {
  grid-area: cont2;
}
div.container-pc-3 {
  grid-area: cont3;
}
div.container-pc-4 {
  grid-area: cont4;
}
div.container-pc-5 {
  grid-area: cont5;
}
div.container-pc-1,
div.container-pc-2,
div.container-pc-3,
div.container-pc-4,
div.container-pc-5 {
  background-color: white;
  padding: 0 20px 0 20px;
  border: none;
}
.pc-1 {
  grid-template-columns: auto;
}
.pc-2 {
  grid-template-columns: auto;
}
.pc-3 {
  grid-template-columns: auto;
}
.pc-4 {
  grid-template-columns: auto;
}
.pc-5 {
  grid-template-columns: auto;
}
div.pc-1 {
  border-bottom: 1px solid rgb(128, 128, 128, 0.3);
  margin-bottom: 30px;
  padding-right: 30px;
  padding-left: 30px;
}
div.pc-3 {
  margin-bottom: 30px;
  padding-left: 20px;
  border-bottom: 2px dashed #199cdb;
}
div.pc-2,
div.pc-4,
div.pc-5 {
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 30px;
}
.title-pc {
  padding: 20px 0 20px 0;
  color: blue;
  border-bottom: 2px solid rgb(128, 128, 128, 0.3);
}
.circle-container {
  width: 70px;
  height: 70px;
  background-color: #a686e3;
  border-radius: 50%;
  border: 3px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.number {
  color: #fff;
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
}
.question-circle-container {
  width: 30px;
  height: 30px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.question {
  color: #fff;
  font-size: x-large;
  font-weight: bold;
  text-align: center;
}
.title-section-pc {
  font-weight: bold;
}
div.ic-pc {
  align-items: center;
  justify-content: center;
}
div.pc-5 > div > p {
  margin-bottom: 20px;
}
div.question-circle-container {
  margin-top: 20px;
  margin-bottom: 20px;
}
